.App {
  text-align: center;
}

.App-header {
  background-color: #00ABDF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 200px;
  color: white;
}

.App-header input {
  font-size: 30px;
}

.App-link {
  color: #00ABDF;
}
